---
layout: layouts/base.njk
isScrollSmooth: true
---
<div class="hero hero--bg" style="{% if color %}background-color: {{ color }};{% endif %}{% if hero %}background-image: url('{{ hero | url }}');{% endif %}">
	<div class="container">
		<h1 class="hero__title">{{ title }}</h1>
	</div>
</div>
<div class="container page__columns">
	<aside class="page__aside"></aside>
	<div class="page__content">
		<p class="page__lead">{{ lead }}</p>
		{{ content | safe }}
		<div class="page__highlighted">
			<h2 class="page__title">Что мы гарантируем</h2>
			<h3>Быстрый результат</h3>
			<p>Средняя продолжительность лечебной программы клиники «Нейро-пси» — три месяца. В большинстве случаев, улучшения будут заметны уже в течение первого месяца.</p>
			<h3>Профессионализм</h3>
			<p>У нас есть все необходимые лицензии, дипломы и сертификаты. Контроль качества лечебной и коррекционной работы с каждым клиентом осуществляется руководством центра ежедневно.</p>
			<h3>Результативность</h3>
			<p>Высокая эффективность при условии четкого выполнения рекомендаций специалистов. Во многом достигается за счет бригадного метода работы и использования методов лечения с доказанной эффективностью.</p>
			<h3>Уникальность</h3>
			<p>Специалисты «Нейро-пси» помогают не только с рядовыми психологическими проблемами, но и работают в сфере лечения психических заболеваний.</p>
			<h3>Экономичность</h3>
			<p>За счет выверенных медико-экономических показателей вы защищены от бессмысленного расходования средств.</p>
		</div>
		<p>В качестве примера, антидепрессанты назначаются сроком от полугода и более (в среднем — 1 год), при этом вероятность рецидивов по окончанию фармакотерапии велика (около 60% ). В случае возникновения рецидива требуется продолжение терапии в течение еще одного года.</p>
		<p class="color--gray">О возможности получения соответствующих видов и объемов медицинской помощи без взимания платы в рамках федеральной программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи: ООО «Нейрология-МСК» не участвует в реализации вышеуказанных программ.</p>
	</div>
</div>
<script src="{{ '/static/js/asideNav.js' | url }}"></script>
