---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="hero">
  <div class="container">
    <h1 class="hero__title">Такой страницы не найдено</h1>
  </div>
</div>
<div class="container">
  Перейдите на <a class="btn--text" href="{{ '/' | url }}">домашнюю страницу</a>.
</div>
