---
layout: layouts/home.njk
title: Демо-сайт Нейро-пси
path: home
---

<div class="hero">
  <div class="container">
    <h1 class="hero__title">{{ title }}</h1>
  </div>
</div>

<div class="container">
  <p>Работающие страницы:</p>
  <ul>
    <li><a class="form__policy_link" href="{{ '/feedback' | url }}">Отзывы</a></li>
    <li><a class="form__policy_link" href="{{ '/specialists' | url }}">Специалисты</a></li>
    <li><a class="form__policy_link" href="{{ '/specialists-calendar' | url }}">Специалисты с календарями</a></li>
    <li><a class="form__policy_link" href="{{ '/media' | url }}">Мы в СМИ</a></li>
    <li><a class="form__policy_link" href="{{ '/privacy' | url }}">Политика конфиденциальности</a></li>
    <li><a class="form__policy_link" href="{{ '/programs' | url }}">С чем помогаем</a></li>
  </ul>
</div>
