---
layout: layouts/home.njk
title: Демо-сайт Нейро-пси
---

<div class="hero">
  <div class="container">
    <h1 class="hero__title">{{ title }}</h1>
  </div>
</div>

<div class="container">
  <p>Работающие страницы:</p>
  <ul>
    <li><a class="form__policy_link" href="{{ '/feedback' | url }}">Отзывы</a></li>
  </ul>
</div>
