<!-- в [data-dates] помещаем свободные окошки через запятую в порядке возрастания -->
<div class="calendar specialist__booking" data-dates="2021-07-02T11:00:00,2021-08-05T12:00:00,2021-08-06T13:00:00">
  <h1 class="specialist__heading">Запись на приём</h1>
  <div class="calendar__main">
    <button class="btn" type="button" aria-haspopup="dialog" aria-controls="book{{ id }}">{{ booking }}</button>
  </div>
</div>
