---
layout: layouts/base.njk
---
<div class="hero"{% if color %} style="background-color: {{ color }};"{% endif %}>
  <div class="container">
    <h1 class="hero__title">{{ title }}</h1>
  </div>
</div>
<div class="container page__columns">
  <aside class="page__aside"></aside>
  <div class="page__content">
    <p class="page__lead">{{ lead }}</p>
    {{ content | safe }}
  </div>
</div>
<script>
  const headers = document.querySelectorAll('.page__content > h2');
  if (headers.length) {
    const callback = function(entries, observer) {
      if (entries[0].isIntersecting) {
        document.querySelectorAll('.page__aside_navigation a').forEach((link) => link.ariaCurrent = "false");
        document.querySelector('a[href="#' + entries[0].target.textContent + '"]').ariaCurrent = "true";
      }
    };
    const observer = new IntersectionObserver(callback, {
      threshold: 1.0
    });
    const headersList = document.createElement('ul');
    headersList.classList.add('page__aside_navigation');
    headersList.hidden = true;
    for (let header of headers) {
      observer.observe(header);
      header.id = header.textContent;
      let headersListItem = document.createElement('li');
      let anchor = document.createElement('a');
      anchor.href = '#' + header.textContent;
      anchor.textContent = header.textContent;
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        header.scrollIntoView({block: "center", behavior: "smooth"});
      })
      headersListItem.appendChild(anchor);
      headersList.appendChild(headersListItem);
    }
    document.querySelector('.page__aside').appendChild(headersList);
  }
</script>
